@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}

.subtitle {
  padding-bottom: $base-size;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}